
.App-logo {
  height: 4rem;
}

.nav-link{
    color: #FFFFFF;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #9A93FF;
}

.login-logo{
    height: 75%;
}

.text-right {
  text-align: right;
}

.text-center{
  text-align: center;
}